/* cherry theme */

:root {
    --bg: url(/static/themes/cherry/background.png) no-repeat #400c22;
    --box-bg: #2a2c49;
    --shadow-color: #0a0a11;

    --headers-buttons-text: white;
    --primary-text: #e6e3e6;
    --footer-text: #9b9a9b;
    --link-color: #eb403f;
    --link-color-hover: #b72b2a;

    --border-color: #9d273f;
    --modal-border-color: #24262b;

    --select-item-background-hover: #22243c;

    --button-background: #eb403f;
    --button-background-hover: #b72b2a;
}
html {background-size: 100%}
.box {border-color: var(--border-color) !important}
#horseurl {border: none}
