/* dark theme */

:root {
    --bg: #161819;
    --box-bg: #36393f;
    --shadow-color: #0d0f13;
    
    --input-color: #75787d;
    --input-background: #2d2f35;

    --primary-text: #e1e2e6;
    --footer-text: #b4b6bb;
    --modal-footnote-text: #adafb4;
    --link-color: #619bc3;
    --link-color-hover: #3B7EAC;

    --border-color: black;
    --modal-border-color: #24262b;

    --multi-layer-background: #2a2c31;
    --select-item-background-hover: #2F3237;

    --button-background: #619bc3;
    --button-background-hover: #3B7EAC;
}
.box {border-color: var(--border-color) !important}
.modal {border-color: var(--modal-border-color) !important}

#error-separator {background-color: #343435}
