html, body, .error-box-container {height: 100%; padding: 0}
.error-box {
    display: inline-flex;
    height: 100%;
}
.error-box>h1 {
    font-size: 50px;
    margin: auto 20px auto 20px;
}
#error-separator {
    background-color: #dbdbdb;
    padding: 3px;
    height: 73px;
    margin: auto;
}
.error-box-container {
    display: inline-block;
    vertical-align: middle;
}
