@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
    --background: #161819;
    --primary-text-color: #F0F0F0;
    --tab-text-color: #000;

    --button-background-color: #FFA200;
    --button-background-color-hover: #B27100;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: var(--background);
    color: var(--primary-text-color);
    margin: 25px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    margin: 0;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
}

a {text-decoration: none; color: #79b0c1}
p a:hover, li a:hover {text-decoration: underline}

.tool-page-title {
    font-size: 45px;
    margin-bottom: 15px;
}

.primary-shaft {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.primary-shaft.app {
    max-width: 800px;
}

.home-logo {
    width: 60px;
    height: 60px;
    display: block;
}

.home-right-sidebar {
    margin-left: auto;
    margin-right: 0;
}

.home-tabs {
    margin-bottom: 10px;
}

button.tab {
    background-color: #C6D6DB;
    color: var(--tab-text-color);

    padding: 10px 20px 10px 20px;
    margin-right: 15px;

    border-radius: 10px;

    font-size: 21px;
    line-height: 25px;
}

button.tab:hover {background-color: #C6D6DB}
button.tab.selected:hover {background-color: #FFF}
.tab.selected {background-color: #FFF}

#tab-content {
    background-color: #36393F;
    border-radius: 15px;
    padding: 20px;
}

#tab-content>h1 {
    font-size: 38px;
}

button {
    color: var(--primary-text-color);
    background-color: var(--button-background-color);
    transition: background-color 200ms;

    padding: 8px 15px 8px 15px;
    margin-right: 10px;
    margin-bottom: 5px;  /* mostly just for mobile; the tabs will wrap on top of each other */

    border: none;
    border-radius: 5px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;

    cursor: pointer;
}

button:hover {
    background-color: var(--button-background-color-hover);
    transition: background-color 200ms;
}

.box button {
    border-radius: 5px;
    padding: 7px 15px 7px 15px;
    margin-left: 15px;
}

button.secondary {
    background-color: #61605C;
    transition: background-color 200ms;
}

button.secondary:hover {
    background-color: #7C7A73;
    transition: background-color 200ms;
}

button.tertiary {
    background-color: #2b8a8e;
    transition: background-color 200ms;
}

button.tertiary:hover {
    background-color: #1f6769;
    transition: background-color 200ms;
}

.box {
    padding: 20px;
    background-color: #36393F;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.box>h1 {
    font-size: 35px;
    margin-bottom: 15px;
}

input.horse-url {
    background-color: #2D2F35;
    border: 1px solid black;
    border-radius: 5px;
    color: #7A7A7A;
    padding: 8px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;

    width: 550px;
    max-width: 90%;

    margin: auto;
}

#result-container {
    display: flex
}
.box.results {
    text-align: center
}
.box.results>h1, .preview-titlebar h1 {
    font-size: 30px;
    text-align: left;
    color: var(--primary-text-color);
}
/*.preview-titlebar h1 {
    margin-right: 15px;
}*/
.box.results>img {
    margin: auto;
    max-width: 100%;
}
.box.details {
    height: 100%;
    margin-left: auto;
    margin-top: 0;
    text-align: left;
    min-width: 100px;
}
.box.details h3 {
    color: #B7B7B7;
    margin: 0
}
.box.details p {
    font-size: 1em;
}

.footer {
    background-color: #2D2F35;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    margin-top: auto;
}

.footer>a>img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.footer>.right {
    margin-left: auto;
}

.footer>.right>img.settings {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.footer>.right>button.credits {
    border-radius: 10px;
    background-color: #C6D6DB;
    color: var(--tab-text-color);
    margin-bottom: 0;
    height: 32px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 15px;
}

.modal-background {
    background: rgba(0,0,0,0.7);
    transition: background 0.2s;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 1;
    display: flex;
}

.box.modal {
    width: 400px;
    margin: auto;
    text-align: left;
}

.box.modal h1 {
    font-size: 27px;
}

.box.modal h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.box.modal input[type='checkbox'] {
    margin-left: 0;
}

.box.modal p, .box.modal a {
    font-size: 18px;
}

.box.modal a {
    color: #79b0c1;
}

.disclaimer, .disclaimer>a {
    font-size: 15px !important;
}

.options-container {
    text-align: left;
    margin: auto;
    width: 710px;
    max-width: 100%;
    margin-bottom: 10px;
}

.options-container h3 {
    margin-bottom: 8px
}

.options-container p {
    font-size: 0.8em;
    margin-top: -5px;
    font-style: italic;
    color: rgb(206, 206, 206);
}

.genes-columns h4 {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 0.95em;
}

.genes-columns p {
    font-size: 0.9em;
    font-style: normal;
    margin-bottom: 10px
}

.genes-columns {
    display: flex;
    flex-wrap: wrap;
}

.genes-columns>div {
    margin-right: auto;
    margin-top: 0
}

/* form input prettifying */

input[type='checkbox'] {
    margin: 0;
    margin-right: 7px;
}

select {
    background: #24272f;
    border: none;
    color: #cecece;
    padding: 2px;
    border-radius: 5px;
}

ul {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -10px;
}

li {
    margin-bottom: 3px
}

/* merge multi */

#preview-container>img {
    position: absolute;
    max-width: 80%;
    left: 0;
    right: 0;
    margin: auto;
}
.preview-titlebar {
    text-align: left;
    color: #cecece;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.preview-titlebar h2 {
    margin: 0;
    display: inline
}

.preview-titlebar a {
    color: white;
}
.preview-titlebar a:hover {
    text-decoration: underline;
}

.preview-titlebar span.source {
    color: #818181;
    font-size: 0.7em;
    margin-top: auto;
    margin-bottom: auto;
}

.preview-titlebar>img {
    display: inline;
    height: 21px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #ff5959;
    transition: 200ms background-color;
    cursor: pointer;
}
.preview-titlebar>img:hover {
    background-color: #DF3D3D;
    transition: 200ms background-color;
}
.preview-titlebar>button {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-bottom: 5px;
    height: auto;
}

.layer-column {
    margin-bottom: 15px !important;
    border-width: 26px;
    display: flex;
}
.layer-column>div>h2 {
    font-size: 22px;
    margin-left: -10px
}
.layer-column>div>button {
    font-size: 0.6em;
    height: 70%;
    padding-top: 2px;
    margin-top: 7px;
}
.check-horse {
    max-width: 80%;
    vertical-align: middle;
    max-height: 80px;
    background: #2a2c31;
    border-radius: 5px;
    margin-right: 5px;
}
.check-horse-input {
    margin: 0px;
    margin-right: 5px
}

#share-url-container p, #share-url-container a {
    font-size: 15px !important
}
